<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/styles/main.css">
    <link rel="shortcut icon" href="../public/img/banco.png" type="image/x-icon">
    <title>ITBANK HomeBanking</title>
</head>

<body>
    <header class="navbar">
        <img src="../public/img/itbank_logo.jpg" class="logo">
        <a class="navbar-buttons" href="">FAQ</a>
        <a class="navbar-buttons" href="">Empresas</a>
        <a class="navbar-buttons" href="">Personas</a>
        <div class="user-panel">
            <a href="index.html">Usuario</a>
            <img src="../public/img/blank_avatar.png">
        </div>
    </header>
    <main>
        <section class="slider">
            <a href="">No se</a>
            <a href="">No se</a>
            <a href="">No se</a>
            <a href="">No se</a>
            <a href="">No se</a>
        </section>
        <section>
            <article>Estafas!!!</article>
            <article>Seguridad</article>
            <article>Estafas!!!</article>
            <article>Estafas!!!</article>
        </section>

    </main>
    <footer class="final">
        <section>
            <h4><a href="#">©2022 Random, Inc. All Rights Reserved.</a></h4>
        </section>
        <section>
            <h4><a href="#">Privacy Policy</a></h4>
        </section>
        <section>
            <h4><a href="#">Terms of Service</a></h4>
        </section>
    </footer>
</body>
</html>