<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/main.css">
    <title>ITBANK HomeBanking</title>
</head>

<body>
    <header class="navbar">
        <img src="" alt="">
        <div>
            <ul>
                <li>FAQ</li>
                <li>Empresas</li>
                <li>Personas</li>
            </ul>
            <a href="/user.html">Usuario</a>
        </div>
    </header>
    <main>
        <section>
            <img src="" alt="">
        </section>
        <section>
            <a href="">No se</a>
            <a href="">No se</a>
            <a href="">No se</a>
            <a href="">No se</a>
            <a href="">No se</a>
        </section>
        <section>
            <article>Estafas!!!</article>
            <article>Seguridad</article>
            <article>Estafas!!!</article>
            <article>Estafas!!!</article>
        </section>

    </main>
    <footer>
        <h4>Copyright</h4>
        <h4>?</h4>
        <h4>Contacto</h4>
    </footer>
</body>
</html>