<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ITBANK Login</title>
    <link rel="shortcut icon" href="../public/img/banco.png" type="image/x-icon">
    <link rel="stylesheet" href="../public/styles/main.css">
</head>
<body>
    <header class="navbar">
        <img src="../public/img/itbank_logo.jpg" class="logo">
        <a class="navbar-buttons" href="">FAQ</a>
        <a class="navbar-buttons" href="">Empresas</a>
        <a class="navbar-buttons" href="">Personas</a>
        <div class="user-panel">
            <a href="index.html">Usuario</a>
            <img src="../public/img/blank_avatar.png">
        </div>
    </header>
    <main class="main">
        <section class="form-container">
            <form class="register-form">
                <h1>Register</h1>
                <div class="form-control">
                    <label for="user">Usuario</label>
                    <input type="text" name="name" class="control" id="user">
                </div>
                <div class="form-control">
                    <label for="clav">Clave</label>
                    <input type="password" name="name" class="control" id="clav">
                </div>
                <div class="form-control">
                    <label for="check">Recordar Usuario</label>
                    <input type="checkbox" name="name" class="control" id="check">
                </div>
                <button type="submit" class="button">Entrar</button>
            </form>
            
            <!--
            NEW

            <form class="register-form">
                <h1>Log In</h1>
                <div class="form-control">
                    <label>Nombre de usuario</label>
                    <input type="text" name="name" class="control">
                </div>
                <div class="form-control">
                    <label>Contraseña</label>
                    <input type="password" name="name" class="control">
                </div>
                <button type="submit" class="button">Entrar</button>
            </form>

            <form class="register-form">
                <h1>Bienvenido</h1>
                <div class="account-choices">
                    <div class="form-control">
                        <label>Ingresar</label>
                        <button type="button" class="button">Log In</button>
                    </div>
                    <div class="form-control">
                        <label>Crear una cuenta</label>
                        <button type="button" class="button">Register</button>
                    </div>
                </div>
            </form>

            NEW
            -->
        </section>
    </main>
    <footer class="final">
        <section>
            <h4><a href="#">©2022 Random, Inc. All Rights Reserved.</a></h4>
        </section>
        <section>
            <h4><a href="#">Privacy Policy</a></h4>
        </section>
        <section>
            <h4><a href="#">Terms of Service</a></h4>
        </section>
    </footer>
</body>
</html>