*{
    margin: 0;
    padding: 0;
}

/* VARIABLES */

:root{
    /* Colores */
    --clr-azul-osc: #000814;
    --clr-blanco: rgb(255, 255, 255);
    --clr-amarillo:  #FFC300;
    --clr-gris: #D5D5D5;
    --clr-red: #DB0916;
    /* Tipografia */
    --tipografia: 'Maven Pro', sans-serif;
    /* Grosor Letra */
    --grosor-normal: 400;
    --grosor-grueso: 700;
    --grosor-guresoXL: 800;
}

p, h1, h2, h3, h4, h5, h6{
    color: rgb(30, 30, 30);
}

li, a{
    list-style: none;
    text-decoration: none;
}

html, body {
    height: 100%;
}

body{
    margin: 0;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
}

/*========================== */
/*========= NAVBAR =========*/
/*======================== */

.navbar{
    height: 82px;
    width: 100%;
    /* max-width: 1582px; */
    background-color: var(--clr-azul-osc);
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: var(--tipografia);
    padding: 0 60px;
    font-weight: 700;
}

/* navbar izq */
.logo-img{
    height: 60px; /*1150px*/
    width: 175px; /*3360px*/
}

/* navbar centro */

.nav-links{
}

.link-list{
    display: flex;
    margin-bottom: 0;
}

.link-list a{
    color: var(--clr-blanco);
    position: relative;
    margin-right: 1em;
}

.link-list a::after{
    content: "";
    left: 0;
    bottom: -5px;
    position: absolute;
    width: 100%;
    background-color: var(--clr-amarillo);
    height: 2px;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 250ms ease-in-out;
}

.link-list a:hover::after{
    transform-origin: center;
    transform: scaleX(1);
}

/* navbar derecha */

.nav-usuario{

}

.nav-user{
    color: var(--clr-amarillo);
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-user i {
    color: var(--clr-blanco);
    font-size: 20px;
}

/* .user-img{
    color: white;
    position: relative;
    height: 30px;
    width: 30px;
} */

.user-img::after{
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    background-color: var(--clr-blanco);
    width: 2px;
    height: 2px;
    border-radius: 50%;
}

.navbar-brand img {
    height: 60px; /*1150px*/
    width: 175px; /*3360px*/
}

.navbar .user-panel {
    text-align: right;
}

.user-panel img {
    margin-left: 1rem;
    height: 30px;
    width: 30px;
}




/*=========== Main ===============*/

main {
    flex: 1 0 auto;
}

main section {
    position: center;
}

main p {
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: white;
    size: 50px;
}

.form-container{
    display: flex;
    align-items: center;
    justify-content: end;
    background-image: url(../img/main.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 45rem;
    background-position: 100% 0;
}

.logIn-form {
    display: none;
}

.register-form {
display: none;
}

.register-form, 
.logIn-form, 
.main-form {
    justify-content: center;
    padding: 20px 15px;
    text-align: center;
    margin-right: 10%;
    width: 15rem;
    height: 21rem;
    background-color: var(--clr-blanco);
    border-radius: 5px;
}

.register-form h1,
.logIn-form h1 {
    margin-bottom: 2rem;
    /* font-size: 80; */
}

.account-choices {
    margin-top: 35px;
}

.form-control {
    padding-left: 0.4rem;
    margin-bottom: 15px;
    border: 0;
}

.form-control label{
    font-style: italic;
    display: block;
    width: 100%;
}

.main-label{
    font-family: var(--tipografia);
    font-weight: 700;
    margin-bottom: 0.5em;
}

.register-form .checkbox,
.logIn-form .checkbox{
    justify-content: center;
    display: flex;
    align-items: center;
    padding: 0 0 0 0;
    margin-bottom: 0.75rem;
}
.register-form .checkbox input,
.logIn-form .checkbox input{
    margin-left: 1rem;
}

.control {
    padding: 0.25rem 0.5rem;
    border: 1px solid #828282;
    border-radius: 20px;
}

.button {
    border-radius: 20px;
    padding: 0.5rem 1.5rem;
    font-size: 16px;
    color: white;
    background-color: var(--clr-red);
    border: none;
}

/* .button:hover{
    background-color: #0F4C75;
    transition: all 250ms;
} */

.slider{
    padding: 2em 0;
    width: 80%;
    display: flex;
    justify-content: space-between;
    position: relative;
    margin: 0 auto;
    margin-top: 2rem;
}

.fa-solid{
    text-align: center;
    transition: 0.25s;
}

.slider a{
    text-align: center;
    text-decoration: none;
    transition: 0.25s;
}

.slider a:hover{
    color: blue;
}

.slider a p{
    transition: 0.25s;
}

.slider a:hover{
    color: blue;
}

.slider a:hover p{
    color: blue;
}

.slider a:hover i{
    transform: translateY(-16px);
}

.small-container{
    margin-left: 3rem;
    margin-right: 3rem;
    margin-top: 4rem;
    padding-left: 25px;
    padding-right: 25px;
}

.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 250px;
    margin-bottom: 50px;
    transition: transform 0.7s;
}

.color-red{
    color: red;
}

.balance-display {
    margin-top: 2rem;
    text-align: center;
}

.balance-display h1 {
    padding: 0.5rem 1rem 0.5rem 1rem;
    min-width: 25rem;
    display:inline-block;
    border-width: 0.1rem;
    border-color: #333333;
    border-radius: 1rem;
    border-style: solid;
    text-align: center;
}

.movements-display {
    display: grid;
    margin: 1rem 10% 0 10%;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}

.movements-display div {
    border-width: 0.2rem;
    border-color: #333333;
    border-radius: 1rem;
    border-style: solid;
    overflow: hidden;
    width: 90%;
    height: 60vh;
}

.movements-display div div {
    padding: 0.75rem 14% 0.75rem 14%;
    border-width: 0.1rem;
    border-radius: 0rem;
    margin: -0.09rem -0.09rem -0.09rem -0.09rem;
    width: 102%;
    text-align: center;
    height: auto;
}

.movements-display p {
    margin: 0 0 0 0;
    text-align: center;
    justify-self: center;
}

.movements-display .title {
    background-color: antiquewhite;
}

.movements-display .title h4 {
    margin: 0.5rem 0 0.5rem 0;
}



/*================= FOOTER =================*/

.footerb {
    flex-shrink: 0;
}
