*{
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body{
    margin: 0;
    margin-bottom: 40px;
    flex-direction: column;
}

.navbar-brand img {
    height: 60px; /*1150px*/
    width: 175px; /*3360px*/
}

.navbar .user-panel {
    text-align: right;
}

.user-panel img {
    margin-left: 1rem;
    height: 30px;
    width: 30px;
}

/*=========== Main ===============*/

main {
    flex: 1 0 auto;
}

main section {
    position: center;
}

main p {
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: white;
    size: 50px;
}

.form-container{
    display: flex;
    align-items: center;
    justify-content: end;
    height: 100%;
    background-image: url(../img/main.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 80vh;
    background-position: 70% 0;
}

.form-container img{
    width: 100%;
}

.register-form {
    justify-content: center;
    padding: 20px 15px;
    text-align: center;
    margin-right: 10%;
    width: 15rem;
    height: 21rem;
    background-color:lightskyblue;
    border-radius: 5px;
}

.register-form h1 {
    margin-bottom: 1rem;
    font-family: 'Times New Roman';
    font-size: 80;
}

.account-choices {
    margin-top: 35px;
}

.form-control {
    padding-left: 0.4rem;
    margin-bottom: 15px;
}

.form-control label{
    font-style: italic;
    display: block;
    width: 100%;
}

.register-form .checkbox{
    justify-content: center;
    display: flex;
    align-items: center;
    padding: 0 0 0 0;
    margin-bottom: 0.5rem;
}
.register-form .checkbox input{
    margin-left: 1rem;
}

.control {
    border-radius: 6px;
    margin: 0.35rem;
    height: 23px;
}

.button {
    border-radius: 7px;
    font-size: 16px;
    color: white;
    width: 5rem;
    background-color: #333;
}

.button:hover{
    background-color: #0F4C75;
    transition: all 250ms;
}

.slider{
    padding: 2em 0;
    width: 80%;
    display: flex;
    justify-content: space-between;
    position: relative;
    margin: 0 auto;
    margin-top: 2rem;
}
.fa-solid{
    text-align: center;
    transition: 0.25s;
}

.slider a{
    text-align: center;
    text-decoration: none;
    transition: 0.25s;
}

.slider a:hover{
    color: blue;
}

.slider a:hover i{
    transform: translateY(-16px);
}

.small-container{
    margin-left: 3rem;
    margin-right: 3rem;
    margin-top: 4rem;
    padding-left: 25px;
    padding-right: 25px;
}

.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 250px;
    margin-bottom: 50px;
    transition: transform 0.7s;
}

p{
    color: rgb(30, 30, 30);
}

.colour{
    color: red;
}
/*================= FOOTER =================*/

.final{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}

.final a{
    display: block;
    text-decoration: none;
    font-weight: 500; 
    transition: all 25ms;
}

.footer {
    background-color: black;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    color: white;
}

.footerb {
    flex-shrink: 0;
}
