{% extends 'Common/base.html' %}
{% block title %}
<title>ITBANK HomeBanking</title>
{% endblock %}
{% block content %}
<p hidden>Excelencia Asegurada 1959</p>
<p hidden id="htmlID">saldo</p>
<main>
  <section class="balance-display">
    <h1 id="saldo">$3.000.000.000,00</h1>
  </section>
  <section class="movements-display">
    <div>
      <div class="title">
        <h4>Ingresos</h4>
      </div>
      <div>
        <p>mas plata</p>
      </div>
      <div>
        <p>mas plata</p>
      </div>
      <div>
        <p>mas plata</p>
      </div>
      <div>
        <p>mas plata</p>
      </div>
      <div>
        <p>mas plata</p>
      </div>
      <div>
        <p>mas plata</p>
      </div>
      <div>
        <p>mas plata</p>
      </div>
      <div>
        <p>mas plata</p>
      </div>
    </div>
    <div>
      <div class="title">
        <h4>Gastos</h4>
      </div>
      <div>
        <p>menos plata</p>
      </div>
      <div>
        <p>menos plata</p>
      </div>
      <div>
        <p>menos plata</p>
      </div>
      <div>
        <p>menos plata</p>
      </div>
    </div>
  </section>
</main>
{% endblock %}