{% extends 'Common/base.html' %}
{% block title %}
<title>ITBANK</title>
{% endblock %}
{% block content %}
<p hidden id="htmlID">user</p>
<main>
  <section class="form-container">
    <!--Register form-->
    <form class="register-form forms hidden" id="registerForm" action="" method="post">
      {% csrf_token %}
      <h1>Registrarse</h1>
      <p class="color-red hidden" id="errorRegister">Usuario ya existente</p>
      <div class="form-control">
        <input
          type="text"
          required=""
          name="name"
          class="input-field"
          id="register-name"
          placeholder="User Name"
          maxlength="20"
        />
      </div>
      <div class="form-control">
        <input
          type="password"
          required=""
          name="name"
          class="input-field"
          id="register-pass"
          placeholder="Password"
          maxlength="20"
        />
      </div>
      <button type="submit" class="button" id="register-submit">
        Registrarse
      </button>
    </form>

    <!--Login form-->
    <form class="login-form forms hidden" id="loginForm" action = "" method = "POST">
      {% csrf_token %}
      <h1>Iniciar Sesión</h1>
      <p class="color-red hidden" id="errorLogin">Usuario o contraseña estan incorrectas</p>
      <div class="form-control">
        <input
          type="text"
          name="username"
          class="input-field"
          required=""
          id="login-name"
          placeholder="Nombre de Usuario"
          maxlength="20"
        />
      </div>
      <div class="form-control">
        <input
          type="password"
          name="password"
          class="input-field"
          required=""
          id="login-pass"
          placeholder="Contraseña"
          maxlength="20"
        />
      </div>
      <button type="submit" class="button" id="login-submit">Entrar</button>
    </form>

    <!--Main form-->
    <form class="main-form forms" id="mainForm">
      <h1>Bienvenido</h1>
      <div class="form-control">
        <label class="main-label">Ingresar</label>
        <button type="button" class="button" id="main-login-btn">
          Iniciar Sesión
        </button>
      </div>
      <div class="form-control">
        <label class="main-label">Crear una cuenta</label>
        <button type="button" class="button" id="main-register-btn">
          Registrarse
        </button>
      </div>
    </form>
  </section>
</main>
{% endblock %}